# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/.next/
/out/

# Production Build Artifacts
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Environment Variables
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts